<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Staatliches&display=swap"
            rel="stylesheet">

        <title>BookIT</title>
    </head>

    <body>

        <header>
            <a href="{{ url_for('index') }}" target="_self"><img src="{{ url_for('static', filename='libropng.png') }}"
                    alt="Libro logo" width="80px"></a>
            <nav>
                <ul class="nav-text">
                    <li><a href="{{ url_for('index') }}" class="navbar navbar--activo">Inicio</a></li>
                    <li><a href="{{ url_for('facultades') }}" class="navbar navbar--activo">Facultades</a></li>
                    <li><a href="{{ url_for('recomend') }}" class="navbar navbar--activo">Recomendaciones</a></li>
                    <li><a href="{{ url_for('pedidos') }}" class="navbar navbar--activo">Pedidos</a></li>
                </ul>
            </nav>
        </header>

        <div class="image_slider">
            <div class="slide active">
                <img src="{{ url_for('static', filename='imguse/FACHADAUCOM.jpg') }}" height="350">
                <div class="info_slide">
                    <h2 class="para_fondo">Universidad Comunera</h2>
                    <p class="para_fondo">En la UCOM contamos con espacios dentro y fuera del aula que permiten a los
                        estudiantes ser parte de una comunidad que busca su desarrollo integral, para que el espíritu
                        emprendedor se expanda a todas las áreas de su vida.</p>
                </div>
            </div>

            <div class="slide">
                <img src="{{ url_for('static', filename='imguse/edificioamericana.jpg') }}" height="350">
                <div class="info_slide">
                    <h2 class="para_fondo">Universidad Americana</h2>
                    <p class="para_fondo">La Universidad Americana tuvo su origen en el Instituto de
                        Capacitación y Desarrollo Empresarial INCADE, asociación civil sin fines de lucro, cuyo
                        propósito fue promover la fundación de una universidad que se constituyera en un lugar de
                        formación, enseñanza y cultivo superior de las artes, las letras, las ciencias tecnológicas, la
                        investigación científica y la capacitación integral del ser humano en el Paraguay.</p>
                </div>
            </div>

            <div class="slide">
                <img src="{{ url_for('static', filename='imguse/edificiouaa.jpg') }}" height="350">
                <div class="info_slide">
                    <h2 class="para_fondo">Universidad Autónoma de Asunción</h2>
                    <p class="para_fondo">La Universidad Autónoma de Asunción, tiene su origen en una Escuela de
                        Negocios: la Escuela Superior de Administración de Empresas, fundada en 1978, con el objetivo de
                        formar recursos humanos para la gestión de empresas.</p>
                </div>
            </div>

            <div class="nav_esc">
                <div class="btn active"></div>
                <div class="btn"></div>
                <div class="btn"></div>
            </div>
        </div>

        <script type="text/javascript">
            var slides = document.querySelectorAll(".slide");
            var btns = document.querySelectorAll(".btn");
            let currentSlide = 1;


            var manualNav = function (manual) {
                slides.forEach((slide) => {
                    slide.classList.remove('active');
                });


                btns.forEach((btn) => {
                    btn.classList.remove('active');
                });


                slides[manual].classList.add('active')
                btns[manual].classList.add('active')
            }

            btns.forEach((btn, i) => {
                btn.addEventListener("click", () => {
                    manualNav(i);
                    currentSlide = i;
                });
            });
        </script>

    </body>

</html>