<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Staatliches&display=swap"
            rel="stylesheet">
        <title>BookIT</title>
    </head>

    <body>

        <header>
            <a href="{{ url_for('index') }}" target="_self"><img src="{{ url_for('static', filename='libropng.png') }}"
                    alt="Libro logo" width="80px"></a>
            <nav>
                <ul class="nav-text">
                    <li><a href="{{ url_for('index') }}" class="navbar navbar--activo">Inicio</a></li>
                    <li><a href="{{ url_for('facultades') }}" class="navbar navbar--activo">Facultades</a></li>
                    <li><a href="{{ url_for('recomend') }}" class="navbar navbar--activo">Recomendaciones</a></li>
                    <li><a href="{{ url_for('pedidos') }}" class="navbar navbar--activo">Pedidos</a></li>
                </ul>
            </nav>
        </header>

        <div class="form-container">
            <h2>Haz tu pedido</h2>
            <form action="/" method="post">
                <label for="nombre" class="form-label">Nombre y Apellido:</label>
                <input type="text" id="nombre" name="nombre" class="form-input" required>

                <label for="cedula" class="form-label">Número de Cédula:</label>
                <input type="text" id="cedula" name="cedula" class="form-input" required>

                <label for="libro" class="form-label">Libro que estás buscando:</label>
                <input type="text" id="libro" name="libro" class="form-input" required>

                <label for="fecha_retiro">Fecha de Retiro:</label>
                <input type="date" id="fecha_retiro" name="fecha_retiro" required> <br>

                <label for="fecha_devolucion">Fecha de Devolución:</label>
                <input type="date" id="fecha_devolucion" name="fecha_devolucion" required>

                <br>

                <button type="submit" class="form-btn">Pedir</button>

            </form>

            <div id="resultados">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li class="{{ message.category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>

        </div>

    </body>

</html>